.turn-on-yellow {
    box-shadow: 10px 10px 53px 55px rgba(250,255,0,0.75);
-webkit-box-shadow: 10px 10px 53px 55px rgba(250,255,0,0.75);
-moz-box-shadow: 10px 10px 53px 55px rgba(250,255,0,0.75);
}

.turn-on-green {
    box-shadow: 10px 10px 53px 55px rgba(24,235,83,0.75);
-webkit-box-shadow: 10px 10px 53px 55px rgba(24,235,83,0.75);
-moz-box-shadow: 10px 10px 53px 55px rgba(24,235,83,0.75);
}

.turn-on-red {
    box-shadow: 10px 10px 53px 55px rgba(219,0,0,0.75);
-webkit-box-shadow: 10px 10px 53px 55px rgba(219,0,0,0.75);
-moz-box-shadow: 10px 10px 53px 55px rgba(219,0,0,0.75);
}